{% load staticfiles %}

<link href="{% static 'lib/css/jquery.terminal.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/tutorial-style.css' %}" />

<div id="online-cli-tutorial">
<h1 class="h1-caption">The best way to understand Docker is to try it!</h1>

<div id="overlay" class="tutorial togglesize startsize">
  <div id="main">

    <div id="tutorialTop" class="togglesize hide-when-small">
        <img src="{% static 'img/docker-letters.png' %}" alt="Docker">
        <h1>Learn Docker</h1>

        <a id="fullSizeClose" href="#" class="closeButton"><img src="{% static 'img/fullscreen_exit_32x32.png' %}" title="close fullscreen"> </a>

        <div id="progress-indicator">
            <span id="progress-marker-0" class="progress-marker">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                    style="width:30px; height:30px;">>
                <circle cx="50%" cy="50%" r="50%" fill="#008BB8" ></circle>
                <text x="50%" dy="50%" text-anchor="middle" dominant-baseline="central" fill="white">i</text>
                </svg>
            </span>
        </div>
    </div>

    <div id="leftside" class="left togglesize hide-when-small">
      <div id="return-back">
        <!--<a id="fullSizeClose" class="home-link3"><i class="icon-arrow-left"></i> Back</a>-->
      </div>
      <hr>

      <!--<div id="step-indicator">-->
        <!--<span>Step</span><span id="step-no">1</span>-->
      <!--</div>-->
      <!---->
      <hr>

      <!--<div id="progress-indicator" class="clearfix">-->
        <!--<span id="progress-marker-0" class="progress-marker">-->
            <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1"-->
                <!--style="width:30px; height:30px;">>-->
            <!--<circle cx="50%" cy="50%" r="50%" fill="#008BB8" ></circle>-->
            <!--<text x="50%" dy="50%" text-anchor="middle" dominant-baseline="central" fill="white">i</text>-->
            <!--</svg>-->
        <!--</span>-->
      <!--</div>-->

      <div id="instructions" class="text body"></div>

      <div id="assignment" class="text body"></div>

      <hr>

      <div id="command">
        <div class="text" >
          <h3><i class="icon-question-sign"></i> Show the answer.</h3>
          <div id="commandShownText" class="hidden"></div>
        </div>
      </div>

      <hr>

      <div id="tips">
        <div class="tiptext" >
          <h3>Tips</h3>
{#          <div id="tipHiddenText" class="box">#}
{#            click here for tips#}
{#          </div>#}
          <div id="tipShownText" class="">
            This is what the written tip looks like
          </div>
        </div>
      </div>

      <div id="ajax" class=""></div>

    </div> <!-- end left -->


    <div id="starttext" class="span4 togglesize startsize hide-when-full">
      <p class="body">
        <h1>In this 10-minute tutorial, see how Docker works first-hand:</h1>
      </p>
      <p class="small-body">
        You'll search for and find an image another user built and shared in the Docker Hub Registry, a cloud-based collection of applications.
      </p>
      <p class="small-body">
        You'll download and run it - running images are containers - and have it output 'hello world'.
      </p>
      <p class="small-body">
        Then you'll install the 'ping' utility into the container, commit all your changes, and run a test of your updated image.
      </p>
      <p class="small-body">
        Finally, you'll push your image to the Docker Hub Registry so that other developers can find and use it...
      </p>
      <p class="small-body">
        ...on a laptop, a VM in a data center, or a public cloud instance, without having to change anything at all about the image!
      </p>
      <div style="text-align: center">
        <a id="fullSizeOpen" href="#" class="btn primary-cta-button2">Start The Tutorial</a>
      </div>
    </div>

    <div id="rightside" class="span8">
      <div id="terminal-extenstion" class="right togglesize smallsize"></div>
      <div id="terminal" class="right togglesize smallsize"></div>
      <div id="results" class="results togglesize" style="display: hidden;">
        <div id="resulttext" class="text">
        </div>
        <button id="buttonNext" class="docker-btn-blue docker-btn-large" disabled="disabled" tabindex="0" >next</button>
        <button id="buttonFinish" class="docker-btn-blue docker-btn-large hidden" tabindex="0" >Finish and see what's next!</button>
      </div>
      <p class="eyebrow text-center subnote">
      This emulator provides only a limited set of shell and Docker commands.
      </p>
    </div>


  </div>
</div>

</div>


<script src="{% static 'lib/js/jquery.mousewheel-min.js' %}"></script>
<script src="{% static 'lib/js/jquery.terminal-0.8.4.js' %}"></script>
<script src="{% static 'lib/js/sugar-1.3.9.min.js' %}"></script>
<script src="{% static 'lib/js/optparse.js' %}"></script>
<script data-main="/static/js/app" src="{% static 'js/require.js' %}"></script>
