include *.txt
include README.md
recursive-include docker_tutorial/static *
recursive-include docker_tutorial/templates *

recursive-include dockerfile_tutorial/static *
recursive-include dockerfile_tutorial/templates *

