#tutorialTop {
  display: none;
  box-sizing: border-box;
  position: relative;
  height: 56px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
}
#tutorialTop .logo {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}
#tutorialTop h1,
#tutorialTop h2 {
  display: inline-block;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
#tutorialTop h1 {
  font-size: 22px;
  color: white;
  font-weight: normal;
  margin-top: 20px;
}
#tutorialTop .closeButton {
  height: 32px;
  width: 32px;
  margin-top: 2px;
  background: url("../img/exit-icons.png") no-repeat;
}
#tutorialTop .closeButton:hover {
  background: url("../img/exit-icons.png") no-repeat -33px 0;
  cursor: pointer;
}
#tutorialTop .stepselector {
  position: absolute;
  left: 386px;
  top: 10px;
}
#tutorialTop .stepselector .btn {
  border-color: #bbb;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  font-size: 14px;
  padding: 5px;
  border-radius: 0px;
}
#tutorialTop .stepselector .docker-caret {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/nav/caret-down-user-icon.svg") no-repeat 70% 80%;
}
#online-cli-tutorial .h1-caption {
  font-size: 32px;
  font-weight: bold;
  display: block;
  margin-bottom: 22px;
}
#online-cli-tutorial p {
  margin-bottom: 10px !important;
}
#online-cli-tutorial p .small-body {
  line-height: 18px !important;
}
#online-cli-tutorial #starttext .btn {
  margin-top: 12px;
  width: 100%;
}
#online-cli-tutorial .subnote {
  display: block;
  padding: 12px;
  font-size: 12px;
  margin: 0 auto;
}
#online-cli-tutorial h1 {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
#online-cli-tutorial hr {
  margin: 0 !important;
}
#online-cli-tutorial #return-back {
  background-size: #f0f;
  padding: 15px;
  cursor: pointer;
}
#online-cli-tutorial #return-back a {
  color: #005976;
  font-weight: bold;
}
#online-cli-tutorial #step-indicator {
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
}
#online-cli-tutorial #step-indicator #step-no {
  margin-left: 6px;
}
#online-cli-tutorial .debug {
  border: 2px red dotted;
  background: #361919;
  /* Fall-back for browsers that don't support rgba */
  background: rgba(54, 25, 25, 0.5);
  box-sizing: border-box;
}
#online-cli-tutorial .tutorial p {
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 2.0em;
}
#online-cli-tutorial .tutorial h1,
#online-cli-tutorial .tutorial h2,
#online-cli-tutorial .tutorial h3,
#online-cli-tutorial .tutorial h4 {
  margin-top: 5px;
  margin-bottom: 7px;
  color: #394D54;
}
#online-cli-tutorial .tutorial h3 {
  font-weight: bold;
}
#online-cli-tutorial .tutorial h4 {
  color: #008bb8;
}
#online-cli-tutorial #commandShownText,
#online-cli-tutorial #tipShownText {
  color: black !important;
  font-style: normal !important;
}
#online-cli-tutorial #command .hidden,
#online-cli-tutorial #tips .hidden {
  display: none;
  visibility: hidden;
  height: 1px;
  width: 1px;
}
#online-cli-tutorial #ajax {
  position: absolute;
  bottom: 0;
  margin: 20px;
}
#online-cli-tutorial #resulttext {
  border-radius: 5px;
  box-sizing: border-box;
  color: #106e34;
  font-weight: bold;
}
#online-cli-tutorial #actions button {
  width: 45%;
}
#online-cli-tutorial .hidden {
  display: none;
}
#online-cli-tutorial #overlay.fullsize {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background-color: white;
  z-index: 1982;
}
#online-cli-tutorial #leftside {
  line-height: 1.9;
}
#online-cli-tutorial #leftside.fullsize {
  box-sizing: border-box;
  width: 386px;
  position: absolute;
  display: block;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff !important;
  overflow-y: scroll;
  padding: 20px;
  border-top: 1px solid #bbb;
}
#online-cli-tutorial #instructions,
#online-cli-tutorial #assignment,
#online-cli-tutorial #results,
#online-cli-tutorial #actions,
#online-cli-tutorial #tips,
#online-cli-tutorial #command {
  padding: 10px;
}
#online-cli-tutorial #instructions ul,
#online-cli-tutorial #assignment ul,
#online-cli-tutorial #results ul,
#online-cli-tutorial #actions ul,
#online-cli-tutorial #tips ul,
#online-cli-tutorial #command ul {
  padding: 10px 0px 10px 20px;
  list-style-position: inherit;
  list-style: circle;
}
#online-cli-tutorial #tips {
  line-height: 2.0em;
}
#online-cli-tutorial #tips p {
  font-size: 12px;
}
#online-cli-tutorial #instructions {
  padding-top: 0px !important;
}
#online-cli-tutorial #results {
  position: absolute;
  z-index: 20;
  background-color: #e7e7e7;
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
  right: 0;
  top: 56px;
}
#online-cli-tutorial #results circle {
  fill: #d3f1fb;
}
#online-cli-tutorial #results.intermediate circle {
  fill: #008bb8;
}
#online-cli-tutorial #results button {
  position: relative;
  float: right;
  margin-top: 10px;
}
#online-cli-tutorial #instructions .assignment {
  margin-top: 20px;
  padding: 15px;
  padding-top: 5px;
}
#online-cli-tutorial .circle {
  position: relative;
  float: left;
  font-size: 18px;
  margin-top: 15px;
}
#online-cli-tutorial #terminal.fullsize {
  position: absolute;
  left: 386px;
  top: 56px;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
}
#online-cli-tutorial #terminal-extenstion {
  background-color: black;
  margin-bottom: 0px;
}
#online-cli-tutorial #terminal-extenstion.fullsize {
  margin: 0;
}
#online-cli-tutorial #terminal a {
  color: #AAA;
  text-decoration: none;
  font-weight: normal;
}
#online-cli-tutorial #starttext {
  padding-right: 20px;
}
#online-cli-tutorial .hide-when-small {
  display: none;
}
#online-cli-tutorial .docker-btn {
  border: none;
  color: white;
}
#online-cli-tutorial .docker-btn-large {
  font-size: 22px;
  padding: 10px 15px 10px 15px;
}
#online-cli-tutorial #progress-indicator {
  height: 34px;
  padding-top: 18px;
  display: block;
  overflow: hidden;
  text-align: center;
}
#online-cli-tutorial #progress-indicator .progress-marker {
  width: 23px;
  height: 23px;
  display: inline-block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #FFFFFF;
  margin-left: 10px;
  cursor: pointer;
}
#online-cli-tutorial #progress-indicator .progress-marker.complete {
  background-color: #ccc;
}
#online-cli-tutorial #progress-indicator .progress-marker:hover {
  background-color: #fff;
}
#online-cli-tutorial #progress-indicator .progress-marker.active {
  background-color: #d3f1fb;
  border-color: #ade5f9;
}
#online-cli-tutorial #stepDropdown .btn:hover,
#online-cli-tutorial #stepDropdown .btn-group:hover,
#online-cli-tutorial #stepDropdown .btn:active,
#online-cli-tutorial #stepDropdown .btn-group:active,
#online-cli-tutorial #stepDropdown .btn:focus,
#online-cli-tutorial #stepDropdown .btn-group:focus {
  color: inherit;
}
#online-cli-tutorial #stepDropdown li.complete a {
  color: #00a200;
}
#online-cli-tutorial #stepDropdown li.active {
  background-color: #d3f1fb;
}
#online-cli-tutorial .complete img {
  height: 45px;
  width: 45px;
  margin-top: 10px;
  margin-right: 10px;
}
#online-cli-tutorial .complete ol li {
  margin-left: 18px;
  margin-bottom: 10px;
}
