{% extends 'dockerfile/_dockerfile.html' %}
{% load staticfiles %}{% load google_analytics %}{% load navactive %}

{% block content %}

<div class="container">
<div class="row" >
    <div class="span12 text-center">
        <div class="copy-headline">
            <h1>Dockerfile tutorial</h1>

        </div>
    </div>
</div>
<div class="row" >
    <div class="span12 paper">
        <div id="" class="span8 offset2">

            <h2>Level 0 - Introduction</h2>
            <p>
                As we showed in the <a href="/gettingstarted/">introductory tutorial</a>, containers can be built manually.<br />
                However, with a Dockerfile, you can describe build steps once and then build a container automatically--any time you want--from source.
            </p>
            <p>
                Dockerfiles can be viewed as an image representation. They provide a simple syntax for building images and they are a great way to automate and script the images creation.
                If you are really serious about Docker, you should master the Dockerfile syntax. Let’s start!
            </p>
            <p>
                If you haven't taken the <a href="/gettingstarted">introductory tutorial</a>, you should do so before starting this.<br />
                <br />
            </p>
            <div>
                <a title="getting started" class="btn btn-primary" href="{% url 'dockerfile_level1' %} ">Start the Dockerfile tutorial</a>
            </div>
        </div>
    </div>
</div> <!-- endrow -->
</div> <!-- end container -->



{% endblock %}